ExitoScreenPlayDesktop
AgenteAzure
vsts-agent-win-x64-3.230.2.zip
history

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

target/

build
history
.idea
*.iws
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/



# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/.gradle/
/.idea/
/build/
